$bg-color-menu: #ffffff;
$btn-color: #ffffff;
$header-bg-left: rgba(247,247,247,1);
$header-bg-right: rgba(239,239,239,1);
$bg-color-gradient-left:rgba(57,146,230,1);
$bg-color-gradient-right:rgba(160,102,255,1) ;
$solution-bg: #ffffff;
$blue: #3992e6;
$white: #ffffff;
$title-color_text: #6b6b6b;
$subtitle-color: #999999;
$subtitle-sections-color: #bfbfbf;
$icons-bg:#efefef;
$advantages-bg:#f7f7f7;
$technologies-bg:#ffffff;
$feedback-bg:#f7f7f7;
$profile-block: #e8e8e8;
$team-title: #fffefe;
$footer-bg:#f7f7f7;
$copyright-bg:#4c4c4c;
$copyright-color:#dcdcdc;

$join-title:#ffffff;
$join-subtitle:#ffffff;

$blog-title-color:#7c72f8;
